* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth !important;
}

body {
    background-color: rgb(173, 171, 171);
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 10rem;
    box-sizing: inherit;
}

/* CSS header */



.contato{
    padding-bottom: 10px;
}

.podtext{
    padding: 0;
}
.video{
    width: 700px;
    margin: auto;
}

#nemail{
    font-size: 23px;
}

.ling{
    color: gold;
}

.cardimg{
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.paddingimg{
   margin-right: 5px;
}

.inicio{
    border-bottom: 1px solid gold;
    color: gold;
}

.container{
    margin-top: 30px;
}

#borda{
    border: 2px solid white;
}

.navbar-nav p {
    font-size: 20px;
    padding-top: 7px;
}

a.navbar-brand {
    margin: auto;
    padding: auto;
}

button.btn.btn-outline-light {
    padding: auto;
}

.container-fluid {
    padding: 9px 30px 3px 30px;
}

.n-all {
    border-bottom: 2px solid white;
    padding: 0;
    margin: 0;
}

.navbar.navbar-expand-lg.bg-dark.no-border{
    padding: 0;
    margin: 0;
}

.container-fluid a {
    color: white;
}

.container-fluid a:hover {
    color: rgb(187, 183, 183);
}

.navbar-brand {
    padding: none;
    margin-top: 0;
}

.navbar-brand button {
    margin-left: 5px;
    font-size: 14px;
    padding: auto;
}

.navbar-toggler {
    color: white;
}

.navbar-nav {
    font-size: 13px;
}

/* Main */

.tamanho{
    font-size: 41px;
}

.display-6.fw-bold.text-body-emphasis.lh-1.mb-4 {
    margin-top: 10px;
}

.nome {
    color: rgb(255, 255, 48);
}

.container img {
    border-radius: 10px;
}


/* Carousel */

.p-sobre{
    margin-bottom: 100px;
}

#carouselExampleDark{
    border-bottom: 1px solid black;
}

.c-item{
    height: 480px;
    transition: transform 0.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.6s;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Form-M */

.c-pad{
    margin-top: 150px;
}

.b-mar{
    margin-bottom: 20px;
}

/* Footer */

.menuf{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}