* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(173, 171, 171);
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 10rem;
    box-sizing: inherit;
}

::-webkit-scrollbar{
    display: none;
}

/* CSS header */

.navbar-nav p {
    font-size: 20px;
    padding-top: 7px;
}

a.navbar-brand {
    margin: auto;
    padding: auto;
}

button.btn.btn-outline-light {
    padding: auto;
}

.container-fluid {
    padding: 9px 30px 3px 30px;
}

.navbar.navbar-expand-lg.bg-dark {
    border-bottom: 2px solid white;
    padding: 0;
    margin: 0;
}

.container-fluid a {
    color: white;
}

.container-fluid a:hover {
    color: rgb(187, 183, 183);
}

.navbar-brand {
    padding: none;
    margin-top: 0;
}

.navbar-brand button {
    margin-left: 5px;
    font-size: 14px;
    padding: auto;
}

.navbar-toggler {
    color: white;
}

.navbar-nav {
    font-size: 13px;
}

/* Main */

.display-6.fw-bold.text-body-emphasis.lh-1.mb-4 {
    margin-top: 10px;
}

.nome {
    color: rgb(255, 255, 48);
}

.container img {
    border-radius: 10px;
}

/* Footer */

.menuf{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}